.ecosystem-logo-vector-1-icon6 {
  height: 73px;
  width: 83px;
  position: absolute;
  margin: 0 !important;
  top: -61px;
  left: 64px;
  object-fit: cover;
}
.decadeshift6 {
  color: var(--color-limegreen-200);
}
.naturedecadeshift6 {
  height: 32px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.ecosystem-logo-vector-1-parent4,
.f-r-a-m-e-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ecosystem-logo-vector-1-parent4 {
  flex-direction: row;
  position: relative;
}
.f-r-a-m-e-b {
  flex-direction: column;
  padding: var(--padding-6xl) 0 0;
}
.contact-us6,
.home4 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  cursor: pointer;
}
.contact-us6 {
  min-width: 96px;
  white-space: nowrap;
}
.home-group,
.top3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.home-group {
  width: 247px;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.top3 {
  flex: 1;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-11xl) var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-335xl);
  max-width: 100%;
}
.discussion3,
.top-container {
  font-family: var(--font-playfair-display);
}
.top-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-green);
}
.discussion3 {
  font-size: var(--font-size-13xl);
}
.discussion-container {
  white-space: pre-wrap;
}
.discussion2 {
  margin: 0;
}
.blank-line7 {
  font-size: var(--font-size-13xl);
  font-family: var(--font-playfair-display);
}
.blank-line-container1 {
  white-space: pre-wrap;
}
.blank-line6 {
  margin: 0;
}
.in-the-present-study-we-used1,
.in-the-present-study-we-used2 {
  white-space: pre-wrap;
}
.in-the-present-study-we-used {
  margin: 0;
}
.as-urbanization-is-a-universal1,
.as-urbanization-is-a-universal2 {
  white-space: pre-wrap;
}
.span13 {
  text-decoration: underline;
}
.span12 {
  white-space: pre-wrap;
}
.a5 {
  color: inherit;
}
.many-such-productive-lulc-type,
.many-such-productive-lulc-type1 {
  white-space: pre-wrap;
}
.as-urbanization-is-a-universal {
  margin: 0;
}
.blank-line10,
.blank-line9 {
  white-space: pre-wrap;
}
.blank-line8 {
  margin: 0;
}
.similarly-in-the-second-perio1,
.similarly-in-the-second-perio2 {
  white-space: pre-wrap;
}
.similarly-in-the-second-perio {
  margin: 0;
}
.blank-line12,
.blank-line13 {
  white-space: pre-wrap;
}
.blank-line11 {
  margin: 0;
}
.we-further-assessed-the-contri1,
.we-further-assessed-the-contri2 {
  white-space: pre-wrap;
}
.span15 {
  text-decoration: underline;
}
.span14 {
  white-space: pre-wrap;
}
.a6 {
  color: inherit;
}
.span16 {
  white-space: pre-wrap;
}
.span18 {
  text-decoration: underline;
}
.span17 {
  white-space: pre-wrap;
}
.a7 {
  color: inherit;
}
.similar-findings-were-estimate {
  white-space: pre-wrap;
}
.span20 {
  text-decoration: underline;
}
.span19 {
  white-space: pre-wrap;
}
.a8 {
  color: inherit;
}
.who-reported-the-decline-in-th {
  white-space: pre-wrap;
}
.span22 {
  text-decoration: underline;
}
.span21 {
  white-space: pre-wrap;
}
.a9 {
  color: inherit;
}
.who-showed-how-the-conversion {
  white-space: pre-wrap;
}
.we-further-assessed-the-contri {
  margin: 0;
}
.blank-line15 {
  white-space: pre-wrap;
}
.blank-line14 {
  margin: 0;
}
.the-district-wise-es-assessmen1 {
  white-space: pre-wrap;
}
.the-district-wise-es-assessmen {
  margin: 0;
}
.over-the-study-period-the-cre1 {
  white-space: pre-wrap;
}
.over-the-study-period-the-cre {
  margin: 0;
}
.blank-line17 {
  white-space: pre-wrap;
}
.blank-line16 {
  margin: 0;
}
.the-district-wise-ess-accounti1 {
  white-space: pre-wrap;
}
.the-district-wise-ess-accounti {
  margin: 0;
}
.a-well-informed-decision-makin1 {
  white-space: pre-wrap;
}
.a-well-informed-decision-makin {
  margin: 0;
}
.blank-line19 {
  white-space: pre-wrap;
}
.blank-line18 {
  margin: 0;
}
.such-a-comprehensive-assessmen1 {
  white-space: pre-wrap;
}
.such-a-comprehensive-assessmen {
  margin: 0;
}
.in-the-near-future-it-is-proj1 {
  white-space: pre-wrap;
}
.in-the-near-future-it-is-proj {
  margin: 0;
}
.discussion-in-the-container {
  height: 2507px;
  width: 1140px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  font-size: var(--font-size-lg);
  font-family: var(--font-playfair-display);
}
.discussion-in-the-present-stud-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.ecosystem-logo-vector-1-icon7 {
  height: 73px;
  width: 83px;
  position: absolute;
  margin: 0 !important;
  top: -61px;
  left: 64px;
  object-fit: cover;
}
.decadeshift7 {
  color: var(--color-limegreen-200);
}
.naturedecadeshift7 {
  height: 32px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  z-index: 1;
}
.ecosystem-logo-vector-1-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.copyright-20233 {
  position: relative;
  font-weight: 500;
}
.copyright-2023-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl);
  font-size: var(--font-size-lg);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.frame-parent21 {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-65xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-green);
  font-family: var(--font-playfair-display);
}
.contact-us7 {
  margin: 0;
  width: 152px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.contact-us-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-21xl);
}
.xxxx3 {
  width: 143px;
  position: relative;
  display: inline-block;
}
.xxxx-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-34xl) 0 var(--padding-35xl);
}
.helpnaturedecadeshiftcom3 {
  position: relative;
  white-space: nowrap;
}
.frame-parent23,
.frame-parent24 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent24 {
  gap: var(--gap-xs);
  font-size: var(--font-size-lg);
}
.frame-parent23 {
  gap: var(--gap-11xl);
}
.terms-conditions3 {
  position: relative;
  font-weight: 500;
}
.terms-conditions-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl);
  text-align: left;
  font-size: var(--font-size-lg);
}
.frame-parent22 {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-52xl);
}
.x-icon3 {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.x-wrapper1 {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-41xl) 0 0;
  box-sizing: border-box;
}
.follow-us3 {
  margin: 0;
  width: 130px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.follow-us-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.facebook-icon3,
.instagram-icon3,
.youtube-icon3 {
  height: 40px;
  width: 56.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 40px;
}
.facebook-icon3,
.instagram-icon3 {
  width: 40px;
}
.frame-parent27,
.youtube-parent1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.youtube-parent1 {
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent27 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.privacy-policy3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 120px;
}
.privacy-policy-wrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-base);
  text-align: left;
  font-size: var(--font-size-lg);
}
.frame-parent25,
.frame-parent26,
.privacy-policy-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent26 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-71xl);
}
.frame-parent25 {
  width: 326.9px;
  flex-direction: row;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.discussion1,
.signature3 {
  overflow: hidden;
  display: flex;
}
.signature3 {
  align-self: stretch;
  background-color: var(--color-lightgoldenrodyellow);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-20xl) var(--padding-80xl) var(--padding-21xl)
    var(--padding-67xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.discussion1 {
  width: 100%;
  position: relative;
  background-color: var(--color-honeydew);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 134px;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .signature3 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .top3 {
    gap: 354px 177px;
  }
}
@media screen and (max-width: 725px) {
  .signature3 {
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
  .discussion1 {
    gap: 67px 134px;
  }
}
@media screen and (max-width: 450px) {
  .home-group {
    display: none;
  }
  .top3 {
    gap: 354px 88px;
  }
  .naturedecadeshift7 {
    font-size: var(--font-size-lgi);
  }
  .frame-parent21 {
    gap: 42px 84px;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .contact-us7 {
    font-size: var(--font-size-3xl);
  }
  .xxxx-wrapper1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent22 {
    gap: 35px 71px;
  }
  .follow-us3 {
    font-size: var(--font-size-3xl);
  }
  .frame-parent25 {
    gap: 50px 25px;
  }
  .signature3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .discussion1 {
    gap: 33px 134px;
  }
}
