.ecosystem-logo-vector-1-icon4 {
  height: 73px;
  width: 83px;
  position: absolute;
  margin: 0 !important;
  top: -61px;
  left: 64px;
  object-fit: cover;
}
.decadeshift4 {
  color: var(--color-limegreen-200);
}
.naturedecadeshift4 {
  height: 32px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.ecosystem-logo-vector-1-parent2,
.table-v-c-u-s {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ecosystem-logo-vector-1-parent2 {
  flex-direction: row;
  position: relative;
}
.table-v-c-u-s {
  flex-direction: column;
  padding: var(--padding-6xl) 0 0;
}
.contact-us4,
.home3 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  cursor: pointer;
}
.contact-us4 {
  min-width: 96px;
  white-space: nowrap;
}
.home-parent {
  width: 247px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.methodology3,
.top2 {
  font-family: var(--font-playfair-display);
}
.top2 {
  align-self: stretch;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-11xl) var(--padding-9xs);
  gap: var(--gap-335xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-green);
}
.methodology3 {
  font-size: var(--font-size-13xl);
}
.methodology-container {
  white-space: pre-wrap;
}
.methodology2 {
  margin: 0;
}
.blank-line5 {
  font-size: var(--font-size-13xl);
  font-family: var(--font-playfair-display);
}
.blank-line-container {
  white-space: pre-wrap;
}
.blank-line4 {
  margin: 0;
}
.data-acquisition-and-pre-proce1,
.data-acquisition-and-pre-proce2 {
  white-space: pre-wrap;
}
.data-acquisition-and-pre-proce {
  margin: 0;
}
.landsat-tmetmoli-imageries1,
.landsat-tmetmoli-imageries2 {
  white-space: pre-wrap;
}
.landsat-tmetmoli-imageries {
  margin: 0;
}
.land-use-land-cover-classifica1,
.land-use-land-cover-classifica2 {
  white-space: pre-wrap;
}
.land-use-land-cover-classifica {
  margin: 0;
}
.the-lulc-maps-for-the-years-191,
.the-lulc-maps-for-the-years-192 {
  white-space: pre-wrap;
}
.the-lulc-maps-for-the-years-19 {
  margin: 0;
}
.similar-classification-scheme1,
.similar-classification-scheme2 {
  white-space: pre-wrap;
}
.span1 {
  text-decoration: underline;
}
.span {
  white-space: pre-wrap;
}
.a {
  color: inherit;
}
.are-available-for-only-seven-l {
  white-space: pre-wrap;
}
.similar-classification-scheme {
  margin: 0;
}
.spatio-temporal-quantification1 {
  white-space: pre-wrap;
}
.spatio-temporal-quantification {
  margin: 0;
}
.lulc-maps-were-employed-to-est1 {
  white-space: pre-wrap;
}
.span3 {
  text-decoration: underline;
}
.span2 {
  white-space: pre-wrap;
}
.a1 {
  color: inherit;
}
.were-used-their-research-prop,
.were-used-their-research-prop1 {
  white-space: pre-wrap;
}
.span5 {
  text-decoration: underline;
}
.span4 {
  white-space: pre-wrap;
}
.a2 {
  color: inherit;
}
.span6 {
  white-space: pre-wrap;
}
.span8 {
  text-decoration: underline;
}
.span7 {
  white-space: pre-wrap;
}
.a3 {
  color: inherit;
}
.span9 {
  white-space: pre-wrap;
}
.span11 {
  text-decoration: underline;
}
.span10 {
  white-space: pre-wrap;
}
.a4 {
  color: inherit;
}
.was-performed-shows-the-equiv {
  white-space: pre-wrap;
}
.lulc-maps-were-employed-to-est {
  margin: 0;
}
.methodology-321-data-acquis-container {
  align-self: stretch;
  height: 683px;
  position: relative;
  display: inline-block;
}
.where-esvx-and-esvt-represent {
  align-self: stretch;
  position: relative;
}
.image-4-icon {
  height: 412px;
  width: 767px;
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.image-4-wrapper {
  align-self: stretch;
  height: 412px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.table-2-vc-us {
  align-self: stretch;
  position: relative;
}
.image-5-icon {
  height: 761px;
  width: 747px;
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.image-5-wrapper {
  align-self: stretch;
  height: 761px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.methodology-321-data-acquis-parent {
  width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
.methodology-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 12px;
  box-sizing: border-box;
  max-width: 100%;
}
.ecosystem-logo-vector-1-icon5 {
  height: 73px;
  width: 83px;
  position: absolute;
  margin: 0 !important;
  top: -61px;
  left: 64px;
  object-fit: cover;
}
.decadeshift5 {
  color: var(--color-limegreen-200);
}
.naturedecadeshift5 {
  height: 32px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  z-index: 1;
}
.ecosystem-logo-vector-1-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.copyright-20232 {
  position: relative;
  font-weight: 500;
}
.copyright-2023-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl);
  font-size: var(--font-size-lg);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.frame-parent14 {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-65xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-green);
  font-family: var(--font-playfair-display);
}
.contact-us5 {
  margin: 0;
  width: 152px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.contact-us-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-21xl);
}
.xxxx2 {
  width: 143px;
  position: relative;
  display: inline-block;
}
.xxxx-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-34xl) 0 var(--padding-35xl);
}
.helpnaturedecadeshiftcom2 {
  position: relative;
  white-space: nowrap;
}
.frame-parent16,
.frame-parent17 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent17 {
  gap: var(--gap-xs);
  font-size: var(--font-size-lg);
}
.frame-parent16 {
  gap: var(--gap-11xl);
}
.terms-conditions2 {
  position: relative;
  font-weight: 500;
}
.terms-conditions-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl);
  text-align: left;
  font-size: var(--font-size-lg);
}
.frame-parent15 {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-52xl);
}
.x-icon2 {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.x-frame {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-41xl) 0 0;
  box-sizing: border-box;
}
.follow-us2 {
  margin: 0;
  width: 130px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.follow-us-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.facebook-icon2,
.instagram-icon2,
.youtube-icon2 {
  height: 40px;
  width: 56.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 40px;
}
.facebook-icon2,
.instagram-icon2 {
  width: 40px;
}
.frame-parent20,
.youtube-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.youtube-container {
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent20 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.privacy-policy2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 120px;
}
.privacy-policy-frame {
  flex-direction: row;
  padding: 0 var(--padding-base);
  text-align: left;
  font-size: var(--font-size-lg);
}
.frame-parent18,
.frame-parent19,
.privacy-policy-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent19 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-71xl);
}
.frame-parent18 {
  width: 326.9px;
  flex-direction: row;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.methodology1,
.signature2 {
  overflow: hidden;
  display: flex;
}
.signature2 {
  align-self: stretch;
  background-color: var(--color-lightgoldenrodyellow);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-20xl) var(--padding-80xl) var(--padding-21xl)
    var(--padding-67xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.methodology1 {
  width: 100%;
  position: relative;
  background-color: var(--color-honeydew);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-131xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .signature2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .top2 {
    gap: 354px 177px;
  }
}
@media screen and (max-width: 725px) {
  .signature2 {
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
  .methodology1 {
    gap: 75px 150px;
  }
}
@media screen and (max-width: 450px) {
  .home-parent {
    display: none;
  }
  .top2 {
    gap: 354px 88px;
  }
  .naturedecadeshift5 {
    font-size: var(--font-size-lgi);
  }
  .frame-parent14 {
    gap: 42px 84px;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .contact-us5 {
    font-size: var(--font-size-3xl);
  }
  .xxxx-frame {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent15 {
    gap: 35px 71px;
  }
  .follow-us2 {
    font-size: var(--font-size-3xl);
  }
  .frame-parent18 {
    gap: 50px 25px;
  }
  .signature2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .methodology1 {
    gap: 37px 150px;
  }
}
